<div id="messages" style='min-height:300px;background-color: grey;'></div>
<div id="info"style='min-height:50px;background-color: red;color:white;'></div>
<input id="input" type="text" class=form-control />
